asttokens==3.0.1
attrs==25.4.0
aws-sam-translator==1.45.0
aws-xray-sdk==2.15.0
boto==2.49.0
boto3==1.42.12
botocore==1.42.12
certifi==2025.11.12
cffi==2.0.0
cfn-lint==0.61.0
charset-normalizer==3.4.4
comm==0.2.3
cryptography==46.0.3
debugpy==1.8.19
decorator==5.2.1
docker==7.1.0
ecdsa==0.14.1
et_xmlfile==2.0.0
executing==2.2.1
greenlet==3.3.0
idna==2.10
ipykernel==7.1.0
ipython==9.8.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==2.11.3
jmespath==0.10.0
jschema-to-python==1.2.3
jsondiff==2.2.1
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonschema==3.2.0
junit-xml==1.9
jupyter_client==8.7.0
jupyter_core==5.9.1
MarkupSafe==1.1.1
matplotlib-inline==0.2.1
mock==5.2.0
more-itertools==10.8.0
moto==5.1.18
nest-asyncio==1.6.0
networkx==2.8.8
numpy==2.3.5
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pandasql==0.7.3
parso==0.8.5
pbr==7.0.3
pexpect==4.9.0
platformdirs==4.5.1
prompt_toolkit==3.0.52
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pycparser==2.23
Pygments==2.19.2
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
python-jose==3.5.0
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
requests==2.32.5
responses==0.25.8
rsa==4.9.1
s3transfer==0.16.0
sarif-om==1.0.4
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.45
sshpubkeys==3.3.1
stack-data==0.6.3
tornado==6.5.4
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==1.26.20
wcwidth==0.2.14
Werkzeug==2.1.2
wrapt==2.0.1
xmltodict==1.0.2
zipp==3.23.0
